In [1]:
import os
import pandas as pd
import sys
sys.path.append(os.path.realpath('..'))
from web3.auto import w3
from web3._utils.events import get_event_data, event_abi_to_log_topic
from utils.queries import query_contract_logs
from utils.contract import get_event_name, get_event_list_by_protocol, get_event_abi, decode_log

In [2]:
events = get_event_list_by_protocol('dydx')

In [9]:
df = pd.read_gbq(query_contract_logs('0x1E0447b19BB6EcFdAe1e4AE1694b0C3659614e4e', limit=None))

Downloading: 100%|██████████| 3966/3966 [00:01<00:00, 2966.46rows/s]

In [10]:
df.head()

,log_index,transaction_hash,transaction_index,address,data,topics,block_timestamp,block_number,block_hash
0,29,0xf4ce2091e07c4e9944a9a3017dc1d308a0f78448d152...,20,0x1e0447b19bb6ecfdae1e4ae1694b0c3659614e4e,0x00000000000000000000000000000000000000000000...,[0xf4626fd1187f91e6761ffb8a6ac3e8d9235a4a92da5...,2020-04-24 03:35:29+00:00,9932800,0x8566e7541324048538f5f0acdc1a95a386802d1fd462...
1,28,0xf4ce2091e07c4e9944a9a3017dc1d308a0f78448d152...,20,0x1e0447b19bb6ecfdae1e4ae1694b0c3659614e4e,0x00000000000000000000000000000000000000000000...,[0xf4626fd1187f91e6761ffb8a6ac3e8d9235a4a92da5...,2020-04-24 03:35:29+00:00,9932800,0x8566e7541324048538f5f0acdc1a95a386802d1fd462...
2,27,0xf4ce2091e07c4e9944a9a3017dc1d308a0f78448d152...,20,0x1e0447b19bb6ecfdae1e4ae1694b0c3659614e4e,0x000000000000000000000000a8b39829ce2246f89b31...,[0x91b01baeee3a24b590d112613814d86801005c7ef93...,2020-04-24 03:35:29+00:00,9932800,0x8566e7541324048538f5f0acdc1a95a386802d1fd462...
3,32,0xf4ce2091e07c4e9944a9a3017dc1d308a0f78448d152...,20,0x1e0447b19bb6ecfdae1e4ae1694b0c3659614e4e,0x00000000000000000000000000000000000000000000...,[0x2bad8bc95088af2c247b30fa2b2e6a0886f88625e09...,2020-04-24 03:35:29+00:00,9932800,0x8566e7541324048538f5f0acdc1a95a386802d1fd462...
4,30,0xf4ce2091e07c4e9944a9a3017dc1d308a0f78448d152...,20,0x1e0447b19bb6ecfdae1e4ae1694b0c3659614e4e,0x00000000000000000000000000000000000000000000...,[0xf4626fd1187f91e6761ffb8a6ac3e8d9235a4a92da5...,2020-04-24 03:35:29+00:00,9932800,0x8566e7541324048538f5f0acdc1a95a386802d1fd462...

In [11]:
df['name'] = df.apply(get_event_name, events=events, axis=1)

In [12]:
df['abi'] = df.apply(get_event_abi, events=events, axis=1)
df['decoded'] = df.apply(decode_log, events=events, axis=1)

In [13]:
df['decoded']

0       {'market': 2, 'index': (1069146506681643882, 1...
1       {'market': 0, 'index': (1008992078034401791, 1...
2       {'sender': '0xa8b39829ce2246f89b31c013b8cde155...
3       {'accountOwner': '0xbfae42a79ff045659dd0f84e65...
4       {'market': 3, 'index': (1027250897706841332, 1...
                              ...
3961    {'market': 3, 'index': (1027325746190374375, 1...
3962    {'accountOwner': '0xbf0b21a1e94ed688cc76fb171c...
3963    {'accountOwner': '0x35548b074977d00f70c1bd9115...
3964    {'market': 0, 'index': (1009025334207113241, 1...
3965    {'sender': '0xa8b39829ce2246f89b31c013b8cde155...
Name: decoded, Length: 3966, dtype: object